{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="app-wrapper ">   
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <h1 class="text-center pb-3 fw-bold" >ADD PRODUCT</h1>
        <form class="container">
            <div class="row">
              <div class="col-md-12 my-3">
                <label for="inputname" class="fw-bold">Category Name</label>
                <input type="text" class="form-control" placeholder="Enter email" name="p_name">
              </div>
              <div class="col-md-12 my-3">
                <label for="inputname" class="fw-bold">description</label>
                <input type="text" class="form-control" placeholder="description" name="desc">
              </div>
             
            </div>
            <div class="col-md-12  mt-3 ">
                <button type="submit" id="confirm-btn" class="btn btn-success btn-lg px-6">Submit</button>
            </div>
          </form>

    </div>
</div>


{% endblock content %}