{% extends 'admin/admin_base.html'%}
{% block content %}
<div class="app-wrapper">
    <div class="col-md-10">
        <div class="container pt-5 pb-5 me-5" style="margin-left: 0 !important;">
            <h1 class="text-center pb-3 fw-bold" >EDIT</h1>
            <div class="container p-5" >
                <form action="" class="submit-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row ">
                    
                    <div class="form-group col-md-6 my-3">
                        <label for="inputname" class="fw-bold">Product Name</label>
                        <input type="text" class="form-control mt-1" id="product_name" name="p_name" placeholder="product_name" value="{{ data.product_name }}">
                    </div>
                    <div class="form-group col-md-6 my-3">
                        <label for="inputdescription" class="fw-bold">description</label>
                        <input type="text" class="form-control mt-1" id="description" name="desc" placeholder="description" value="{{ data.description }}">
                    </div>
                    <div class="form-group col-md-6 my-3">
                        <label for="inputprice" class="fw-bold">Price</label>
                        <input type="text" class="form-control mt-1" id="price" name="price" placeholder="price" value="{{ data.price }}">
                        
                        
                    </div>
                    <div class="form-group col-md-6 my-3">
                        <label for="inputstock" class="fw-bold">stock</label>
                        <input type="text" class="form-control mt-1" id="stock" name="stock" placeholder="stock" value="{{ data.stock }}">
                    </div>
                    <div class="form-group col-md-6 my-3">
                        <label for="inputname" class="fw-bold">Select Category</label>
                        <select class="form-select" aria-label="Default select example" name="category">
                            <option selected>{{ data.category }}</option>
                            {% for i in value %}
                            {% if i != data.category %}
                            <option value="{{ i.category_name }}">{{ i.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="form-group my-3">
                            <label for="inputname" class="fw-bold">Brand</label>
                            <input type="text" class="form-control mt-1" id="brand" name="brand" placeholder="brand" value="{{ data.brand }}">
                        </div>
                        {% for message in messages %}
                        {% if "productediterror" in message.tags %}
                        <p><span class="text-danger">{{message}}</span></p>
                        {%endif%} 
                        {%endfor%} 
                        <div class="form-group my-3">
                            <label for="input_product_status" class="fw-bold">product_status</label>
                            <select class="form-select" aria-label="Default select example" name="product_status">
                                <option selected value="{{ data.product_status }}">{{ data.product_status }}</option>
                                {% if data.product_status == True %}
                                <option value="False">False</option>
                                {% else %}
                                <option value="True">True</option>
                                {% endif %}
                            </select>
                        </div> 
                    </div>
                    
                    <div class="form-group col-md-6 my-3">
                        <label for="input_product_status" class="fw-bold mb-2">Upload Images</label><br>
                        <span class="imageupload py-4">Image1 : </span><input type="file" class="form-control my-2" name="uploadFromPC" id="id_product_image">
                        <span class="imageupload">Image2 : </span><input type="file" class="form-control my-1" name="uploadFromPC1"
                            id="id_product_image1">
                        <span class="imageupload">Image3 : </span> <input type="file" class="form-control my-1" name="uploadFromPC2"
                            id="id_product_image2">
                    </div>
                    {% if "productediterror" not in messages.tags %}
                    {% for message in messages %}
                    <p><span class="text-danger">{{message}}</span></p>
                    {%endfor%}
                    {% endif %}
                    <div class="col-md-12 text-center mt-3">
                        <button type="submit"  id="confirm-btn" class="btn btn-success btn-lg px-6">Submit</button>
                    </div>
                    
                </div>
            </form>
            <div class="mt-5">
                <img id="image1" src="" alt="">
                <img id="image2" src="" alt="">
                <img id="image3" src="" alt="">
                <div class="col-md-5">
                    <div class="form-group">
                        <div id="image-box" class="img-fluid"></div>
                        <button class="btn btn-outline-info" id="crop-btn" style=" margin-top: 10px; display: none;"
                            type="button">Crop</button>
                    </div>
                </div>
            </div>
        
            </div>
        </div>
    </div>
</div>

{% endblock content %}