{% extends 'admin/admin_base.html'%}
{% block content %}
{% load static %}

<div class="app-wrapper">
    
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container mt-3 text-center">
            <h2>PRODUCTS</h2>
            <div class="text-end">
                <a href="{% url 'add_product'%}"><button type="submit" class="btn btn-outline-success btn-lg px-3 mb-2">Add Product</button></a>
              </div>
                     
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">Sl/No</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Catogary</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>
                  <th style="width: 180px;"></th>
                </tr>
              </thead>
              <tbody>
                {% if data %}
                {% for i in data %}
                
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <th scope="row">
                      <span class="text-decoration-none">{{ i.product_name }}</span>
                    </th>
                    <td>{{ i.category }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.stock }}</td>
                    <td>
                      <a href="{}" class="btn btn-outline-primary">Edit</a>
                      <a class="btn btn-outline-danger ms-5"data-bs-toggle="modal" data-bs-target="#deleteproduct-{{ i.id }}">Delete</a>
                      <!-- Modal -->
                      <div class="modal fade" id="deleteproduct-{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <p>Do you want to delete {{ i.product_name }}</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'delete_product' i.id %}"><button type="button" class="btn btn-danger">Confirm</button></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h5>No products</h5>
            {% endif %}
               
              </tbody>
            </table>
          </div>
    </div>
    
</div><!--//app-wrapper-->    					

 



{% endblock content %}