{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
{% if selected == None %}


<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1082528/pexels-photo-1082528.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

<section class="container py-5">
   
    {% endif %}


    <!-- Start Categories of The Month -->

    <section class="container py-5">
        {% if selected %}
        <div class="dropdown">
            <a class="dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </a>
            <ul class="dropdown-menu"> 
                <li><a class="dropdown-item" href="">Price Low to High</a></li>
                <li><a class="dropdown-item" href="">Price High to Low</a></li>
            </ul>
        </div>
        
        
        {% else %}
        <div class="dropdown">
            <a class="dropdown-toggle text-decoration-none text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
              </a>
            <ul class="dropdown-menu"> 
                <li><a class="dropdown-item" href="">Price Low to High</a></li>
                <li><a class="dropdown-item" href="">Price High to Low</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="row text-center pt-3">
            
        
            <div class="col-lg-6 m-auto">
                {% if selected %}
                <h1 class="h2">{{ selected }}</h1>
                {% else %}
                <h1 class="h2">SHOP NOW</h1>
                {% endif %}
                
            </div>
        </div>
    
</section>
<section>
    {% if data %}
    <div class="container my-5">
      <header class="mb-4">
        <h3>New products</h3>
      </header>
  
      <div class="row">
        {% for i in data %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card my-2 shadow-0" style="height: 400px; width: 300px ;">
            <a href="{% url 'product_deatils' i.id %}" class="">
              <div class="mask" style="height: 50px;">
                <div class="d-flex justify-content-start align-items-start h-100 m-2">
                  <h6><span class="badge bg-danger pt-1">New</span></h6>
                </div>
              </div>
              <img src="{{ i.image.url }}" class=" card-img-top rounded-2" style="margin-left: 1rem; height: 180px; width: 180px ; aspect-ratio: 1 / 1">
            </a>
            <div class="card-body p-0 p-3">
            {% if i.product_name not in wishlist %}
            <a href="{% url 'wishlistadd' i.id %}"   class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
            {% else %}
            <a href="{% url 'wishlistdelete' i.id %}" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i class="fas fa-heart fa-lg px-1 text-danger" ></i></a>
            {% endif %}
              <h5 class="card-title">₹  {{ i.price }}</h5>
              <a class="text-decoration-none" href="{% url 'product_deatils' i.id %}"><p class=" card-text mb-0">{{ i.product_name }}</p></a>
              <p class="mt-2 text-muted">
                {{ i.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
    {% else %}
        <div>
            <p>No products available!!</p>
        </div>
    {% endif %}
  </section>
{% endblock content%}

